<div class="panel-body"><center class="sr-only">Formulário</center>
	<form name="frm.formulario">
		<fieldset sr-only="navegador.estadoAtual() !== 'INCLUINDO' && navegador.estadoAtual() !== 'EDITANDO'">
			<input type="hidden" name="id" data-ng-model="cadastro.registro.id" />
			<input type="hidden" name="@class" data-ng-model="cadastro.registro['@class']" />

			<div class="row">

				<!-- Input Basic -->
				<div class="col-md-3">
					<label class="control-label" for="perfil">Perfil</label>
					<input type="text" class="form-control" ng-model="cadastro.registro.perfil.nome">
				</div>

				<!-- Input Basic -->
				<div class="col-md-3">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control" ng-model="cadastro.registro.perfil.codigo">
				</div>


				<!-- Select Basic -->
				<div class="col-md-4">
					<label class="control-label" for="situacao">Situação</label>
					<div class="input-group"> 
						<label class="radio-inline" for="situacao-0">
							<input type="radio" name="situacao" id="situacao-0" value="1" checked="checked">
							Ativo
						</label> 
						<label class="radio-inline" for="situacao-1">
							<input type="radio" name="situacao" id="situacao-1" value="2">
							Inativo
						</label> 
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<label class="control-label">Acessos</label>
				
		<div class="table-responsive">
			<table class="table table-hover table-striped table-responsive">
				<thead>
					<tr>
						<th width="60">
							<frz-seletor ng-model="navegador" dados="cadastro.lista"></frz-seletor>
						</th>
						<th width="30">
							#
						</th>
						<th>
							Nome
						</th>
					</tr>
				</thead>
			</table>
			<script type="text/ng-template" id="items_renderer.html" charset="UTF-8">
				<div data-ui-tree-handle>
					<a class="btn btn-primary btn-xs Tooltip" data-nodrag data-ng-click="toggleChildren(this)" title="Expandir/Recolher">
						<span class="glyphicon glyphicon-chevron-right" data-ng-show="collapsed"></span>
						<span class="glyphicon glyphicon-chevron-down" data-ng-show="!collapsed"></span>
					</a>
					<label>
						<input class="Tooltip" title="Seleção unitária" type="radio" name="linhaSelecionada" data-ng-click="selecionou(linha)" value="{{linha}}" data-ng-show="tipoSelecao === 'radio'">
						<input class="Tooltip" title="Seleção múltipla" type="checkbox" data-ng-click="selecionou(linha)" data-ng-true-value="linha" data-ng-false-value="false" data-ng-show="tipoSelecao === 'checkbox'">
						<img src="images/grupo-tecnico.png" height="35px" width="35px" data-ng-show="linha.nivelGestao=='T'"/>
						<img src="images/grupo-unidade-organizacional.png" height="35px" width="35px" data-ng-show="linha.nivelGestao=='U'"/>
						<img src="images/grupo-instituicao.png" height="35px" width="35px" data-ng-show="linha.nivelGestao=='I'"/>
						{{linha.nome}}
					</label>
					<a class="pull-right btn btn-danger btn-xs Tooltip" data-nodrag data-ng-click="remove(this)" data-ng-show="organizando" title="Excluir">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
					<a class="pull-right btn btn-success btn-xs" data-nodrag data-ng-click="newSubItem(this)" style="margin-right: 8px;" data-ng-show="false">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
				</div>
				<ol data-ui-tree-nodes="treeOptions" data-ng-model="linha.filhos" data-ng-class="{hidden: collapsed}">
					<li data-ng-repeat="linha in linha.filhos | orderBy:'nome':reverse" data-ui-tree-node data-ng-include="'items_renderer.html'" data-collapsed="false">
					</li>
				</ol>
			</script>
			<div data-ui-tree="treeOptions" data-spacing="2" data-drag-enabled="organizando" id="admin-tree-root">
				<ol data-ui-tree-nodes data-ng-model="lista">
					<li data-ng-repeat="linha in lista | orderBy:'nome':reverse" data-ui-tree-node data-ng-include="'items_renderer.html'" data-collapsed="false"></li>
				</ol>
			</div>
		</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>