<div class="panel-body"><center class="sr-only">Lista</center>

	<!-- Table -->
	<div class="alert alert-warning" role="alert" ng-hide="cadastro.lista.length">
		<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
		Nenhum registro localizado!
	</div>
	<div ng-show="cadastro.lista.length">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-responsive">
				<thead>
					<tr>
						<th>
							<frz-seletor ng-model="navegador" dados="cadastro.lista"></frz-seletor>
						</th>
						<th width="30">
							#
						</th>
						<th>
							Login
						</th>
						<th>
							Data da Operação
						</th>
						<th>
							Módulo
						</th>
						<th>
							Funcionalidade
						</th>
						<th>
							Ação
						</th>
						<th>
							Id do Registro
						</th>
						<th>
							Acessou como Administrador?
						</th>
						<th>
							Empresa
						</th>
						<th>
							Unidade Organizacional
						</th>
						<th>
							Complemento
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in cadastro.lista | orderBy: 'nome' | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: navegador.tamanhoPagina">
						<td>
							<input type="radio" ng-show="navegador.selecao.tipo === 'U'" ng-model="navegador.selecao.item" ng-value="item"/>
							<input type="checkbox" ng-show="navegador.selecao.tipo === 'M'" checklist-model="navegador.selecao.items" checklist-value="item"/>
						</td>
						<td>
							{{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
						</td>
						<td>
							{{item.nome}}
						</td>
						<td>
							{{item.documento}}
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>