<legend>IPA Animal</legend>

<div class="panel-body"><center class="sr-only">Lista</center>
	<!-- Table -->
	<div class="alert alert-warning" role="alert" ng-hide="cadastro.lista.length">
		<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
		Nenhum registro localizado!
	</div>
	<div ng-show="cadastro.lista.length">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-responsive" border="0">
				<thead>
					<tr>
						<th rowspan="2">
							<frz-seletor ng-model="navegador" dados="cadastro.lista"></frz-seletor>
						</th>
						<th width="30" rowspan="2">
							#
						</th>
						<th title="Unidade Organizacional" rowspan="2">
							U. O.
						</th>
						<th rowspan="2">
							Ano
						</th>
						<th colspan="3">
							Sistema de Produção
						</th>
						<th colspan="2">
							Produtores
						</th>
						<th rowspan="2">
							Produtividade
						</th>
						<th rowspan="2">
							Unidade
						</th>
						<th colspan="2">
							Rebanho/Colméia
						</th>
						<th colspan="2">
							Matrizes
						</th>
					</tr>
					<tr>
						<th>
							Cultura
						</th>
						<th>
							Sistema
						</th>
						<th>
							Exploração	
						</th>
						<th>
							Esp.
						</th>
						<th>
							Acu.
						</th>
						<th>
							Esp.
						</th>
						<th>
							Acu.
						</th>
						<th>
							Esp.
						</th>
						<th>
							Acu.
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="item in cadastro.lista | orderBy: 'nome' | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: navegador.tamanhoPagina">
						<td>
							<input type="radio" ng-show="navegador.selecao.tipo === 'U'" ng-model="navegador.selecao.item" ng-value="item"/>
							<input type="checkbox" ng-show="navegador.selecao.tipo === 'M'" checklist-model="navegador.selecao.items" checklist-value="item"/>
						</td>
						<td>
							{{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
						</td>
						<td>
							{{item.pessoaTipo}}
						</td>
						<td>
							{{item.nome}}
						</td>
						<td>
							{{item.apelidoSigla}}
						</td>
						<td>
							{{item.documento}}
						</td>
						<td>
							Sim
						</td>
						<td>
							Não
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>
					<tr ng-repeat-end ng-show="navegador.selecao.tipo === 'U' && navegador.selecao.item.id === item.id">
						<td>
							&nbsp;
						</td>
						<td colspan="14">
							<table class="table table-hover table-striped table-responsive" border="0">
								<thead>
									<tr>
										<th colspan="2">
											Rendimentos
										</th>
										<th colspan="5">
											Produção
										</th>
									</tr>
									<tr>
										<th>
											Produto
										</th>
										<th>
											Unidade
										</th>
										<th>
											Existente/Dia
										</th>
										<th>
											Acumulado/Dia
										</th>
										<th>
											Existente/Ano
										</th>
										<th>
											Acumulado/Ano
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in cadastro.lista | orderBy: 'nome' | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: 3">
										<td>
											{{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
										</td>
										<td>
											{{item.pessoaTipo}}
										</td>
										<td>
											{{item.nome}}
										</td>
										<td>
											{{item.apelidoSigla}}
										</td>
										<td>
											{{item.documento}}
										</td>
										<td>
											Sim
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-responsive" ng-show="true"><p class="sr-only">navegador.selecao.tipo === 'U' && navegador.selecao.item && navegador.selecao.item.telefone && navegador.selecao.item.telefone.length</p>
			<frz-navegador ng-model="subNavegador" exibe-texto-botao="false" on-abrir="abrirSub()" dados="navegador.selecao.item.telefone"></frz-navegador>
			<table class="table table-hover table-striped table-responsive" border="0">
				<thead>
					<tr>
						<th><frz-seletor ng-model="subNavegador" dados="navegador.selecao.item.telefone"></frz-seletor></th>
						<th>#</th>
						<th>Produtor</th>
						<th>Propriedade</th>
						<th>Unidade</th>
						<th>Rebanho/Colméia</th>
						<th>Matrizes</th>
						<th>Registro</th>
						<th>Situação</th>
					</tr>
				</thead>
				<tbody>				
					<tr ng-repeat-start="item in navegador.selecao.item.telefone | pagina: subNavegador.paginaAtual : subNavegador.tamanhoPagina | limitTo: subNavegador.tamanhoPagina">
						<td>
							<input type="radio" ng-model="subNavegador.selecao.item" ng-value="item" ng-show="subNavegador.selecao.tipo === 'U'"/>
							<input type="checkbox" ng-show="subNavegador.selecao.tipo === 'M'" checklist-model="subNavegador.selecao.items" checklist-value="item"/>
						</td>
						<td>
							{{$index + 1 + ((subNavegador.paginaAtual-1)*subNavegador.tamanhoPagina)}}
						</td>
						<td>
							{{item.ddd}}
						</td>
						<td>
							{{item.numero}}
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>
					<tr ng-repeat-end ng-show="subNavegador.selecao.tipo === 'U' && subNavegador.selecao.item.id === item.id">
						<td>
							&nbsp;
						</td>
						<td colspan="14">
							<table class="table table-hover table-striped table-responsive" border="0">
								<thead>
									<tr>
										<th colspan="2">
											Rendimentos
										</th>
										<th colspan="5">
											Produção
										</th>
									</tr>
									<tr>
										<th>
											Produto
										</th>
										<th>
											Unidade
										</th>
										<th>
											Existente/Dia
										</th>
										<th>
											Acumulado/Dia
										</th>
										<th>
											Existente/Ano
										</th>
										<th>
											Acumulado/Ano
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in cadastro.lista | orderBy: 'nome' | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: 3">
										<td>
											{{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
										</td>
										<td>
											{{item.pessoaTipo}}
										</td>
										<td>
											{{item.nome}}
										</td>
										<td>
											{{item.apelidoSigla}}
										</td>
										<td>
											{{item.documento}}
										</td>
										<td>
											Sim
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>