<div class="panel-body"><center class="sr-only">Filtro</center>

	<form name="frm.filtro" class="form-horizontal">
    <input type="hidden" ng-value="cadastro.filtro.numeroPagina">
    <input type="hidden" ng-value="cadastro.filtro.registrosPagina">
    <fieldset>
      
      <!-- Form Name -->
      <legend>Dados Pessoais</legend>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="tipoPessoa">Tipo de Pessoa</label>
        <div class="col-md-6"> 
          <label class="radio-inline" for="tipoPessoa-0">
            <input type="radio" name="tipoPessoa" id="tipoPessoa-0" value="" ng-model="cadastro.filtro.tipoPessoa">
            Ignorar
          </label> 
          <label class="radio-inline" for="tipoPessoa-1">
            <input type="radio" name="tipoPessoa" id="tipoPessoa-1" value="PF" ng-model="cadastro.filtro.tipoPessoa" >
            Física
          </label> 
          <label class="radio-inline" for="tipoPessoa-2">
            <input type="radio" name="tipoPessoa" id="tipoPessoa-2" value="PJ" ng-model="cadastro.filtro.tipoPessoa">
            Jurídica
          </label>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="nome"><span ng-hide="cadastro.filtro.tipoPessoa==='PJ'">Nome/ Apelido</span> <span ng-hide="cadastro.filtro.tipoPessoa==='PF'">Razão Social/ Sigla</span></label>  
        <div class="col-md-6">
          <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.nome">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group" ng-hide="cadastro.filtro.tipoPessoa==='PJ'">
        <label class="col-md-4 control-label" for="cpf">CPF</label>  
        <div class="col-md-3">
          <input id="cpf" name="cpf" type="text" placeholder="999.999.999-99" class="form-control input-md" ng-model="cadastro.filtro.cpf" ui-cpf-mask model-view-value="true">
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group" ng-hide="cadastro.filtro.tipoPessoa==='PJ'">
        <label class="col-md-4 control-label" for="pessoaGenero">Gênero</label>
        <div class="col-md-6"> 
          <label class="radio-inline" for="pessoaGenero-0">
            <input type="radio" name="pessoaGenero" id="pessoaGenero-0" value="" ng-model="cadastro.filtro.pessoaGenero">
            Ignorar
          </label> 
          <label class="radio-inline" for="pessoaGenero-1">
            <input type="radio" name="pessoaGenero" id="pessoaGenero-1" value="M" ng-model="cadastro.filtro.pessoaGenero">
            Masculino
          </label> 
          <label class="radio-inline" for="pessoaGenero-2">
            <input type="radio" name="pessoaGenero" id="pessoaGenero-2" value="F" ng-model="cadastro.filtro.pessoaGenero">
            Feminino
          </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group" ng-hide="cadastro.filtro.tipoPessoa==='PJ'">
        <label class="col-md-4 control-label" for="pessoaGeracao">Geração</label>
        <div class="col-md-6"> 
          <label class="radio-inline" for="pessoaGeracao-0">
            <input type="radio" name="pessoaGeracao" id="pessoaGeracao-0" value="" ng-model="cadastro.filtro.pessoaGeracao">
            Ignorar
          </label> 
          <label class="radio-inline" for="pessoaGeracao-1">
            <input type="radio" name="pessoaGeracao" id="pessoaGeracao-1" value="A" ng-model="cadastro.filtro.pessoaGeracao">
            Adulto
          </label> 
          <label class="radio-inline" for="pessoaGeracao-2">
            <input type="radio" name="pessoaGeracao" id="pessoaGeracao-2" value="I" ng-model="cadastro.filtro.pessoaGeracao">
            Idoso
          </label> 
          <label class="radio-inline" for="pessoaGeracao-3">
            <input type="radio" name="pessoaGeracao" id="pessoaGeracao-3" value="J" ng-model="cadastro.filtro.pessoaGeracao">
            Jovem
          </label> 
          <label class="radio-inline" for="pessoaGeracao-4">
            <input type="radio" name="pessoaGeracao" id="pessoaGeracao-4" value="C" ng-model="cadastro.filtro.pessoaGeracao">
            Criança
          </label>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group" ng-hide="cadastro.filtro.tipoPessoa==='PF'">
        <label class="col-md-4 control-label" for="cnpj">CNPJ</label>  
        <div class="col-md-3">
          <input id="cnpj" name="cnpj" type="text" placeholder="99.999.999/9999-99" class="form-control input-md" ng-model="cadastro.filtro.cnpj" ui-cnpj-mask model-view-value="true">
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pessoaSituacao">Situação</label>
        <div class="col-md-8"> 
          <label class="radio-inline" for="pessoaSituacao-0">
            <input type="radio" name="pessoaSituacao" id="pessoaSituacao-0" value="" ng-model="cadastro.filtro.pessoaSituacao">
            Ignorar
          </label> 
          <label class="radio-inline" for="pessoaSituacao-1">
            <input type="radio" name="pessoaSituacao" id="pessoaSituacao-1" value="A" ng-model="cadastro.filtro.pessoaSituacao">
            Ativo
          </label> 
          <label class="radio-inline" for="pessoaSituacao-2">
            <input type="radio" name="pessoaSituacao" id="pessoaSituacao-2" value="F" ng-model="cadastro.filtro.pessoaSituacao">
            Inativo por Falecimento
          </label>
          <label class="radio-inline" for="pessoaSituacao-3">
            <input type="radio" name="pessoaSituacao" id="pessoaSituacao-3" value="O" ng-model="cadastro.filtro.pessoaSituacao">
            Inativo por Outro Motivo
          </label>
          <label class="radio-inline" for="pessoaSituacao-4">
            <input type="radio" name="pessoaSituacao" id="pessoaSituacao-4" value="U" ng-model="cadastro.filtro.pessoaSituacao">
            Inativo por Falta de Uso
          </label>
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="grupoSocialList">Grupo Social</label>
        <div class="col-md-6">                     
          <textarea class="form-control" id="grupoSocialList" name="grupoSocialList" ng-model="cadastro.filtro.grupoSocialList"></textarea>
        </div>
      </div>

    </fieldset>

    <fieldset>

      <!-- Form Name -->
      <legend>Beneficiário</legend>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoCategoria">Categoria</label>
        <div class="col-md-4">
          <select id="publicoAlvoCategoria" name="publicoAlvoCategoria" class="form-control" ng-model="cadastro.filtro.publicoAlvoCategoria">
            <option value="">Ignorar</option>
            <option value="E">Empreendedor</option>
            <option value="H">Habitante</option>
            <option value="T">Trabalhador</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoAter">ATER</label>
        <div class="col-md-4">
          <select id="publicoAlvoAter" name="publicoAlvoAter" class="form-control" ng-model="cadastro.filtro.publicoAlvoAter">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoDap">DAP</label>
        <div class="col-md-4">
          <select id="publicoAlvoDap" name="publicoAlvoDap" class="form-control" ng-model="cadastro.filtro.publicoAlvoDap">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
            <option value="X">NDP</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoSetor">Setor</label>
        <div class="col-md-4">
          <select id="publicoAlvoSetor" name="publicoAlvoSetor" class="form-control" ng-model="cadastro.filtro.publicoAlvoSetor">
            <option value="">Ignorar</option>
            <option value="1">Agropecuária</option>
            <option value="2">Agroindústria</option>
            <option value="3">Artesanato</option>
            <option value="4">Comércio</option>
            <option value="5">Processamento Artesanal</option>
            <option value="6">Serviço</option>
            <option value="7">Turismo</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoPropriedadeUtilizacaoEspacoRural">Espaço Rural</label>
        <div class="col-md-4">
          <select id="publicoAlvoPropriedadeUtilizacaoEspacoRural" name="publicoAlvoPropriedadeUtilizacaoEspacoRural" class="form-control" ng-model="cadastro.filtro.publicoAlvoPropriedadeUtilizacaoEspacoRural">
            <option value="">Ignorar</option>
            <option value="1">Lazer</option>
            <option value="2">Moradia</option>
            <option value="3">Outras</option>
            <option value="4">Preservação Ambiental</option>
            <option value="5">Pretação de Serviço</option>
            <option value="6">Produção</option>
            <option value="7">Turismo Rural</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoComprasInstitucionais">Compras Institucionais</label>
        <div class="col-md-4">
          <select id="publicoAlvoComprasInstitucionais" name="publicoAlvoComprasInstitucionais" class="form-control" ng-model="cadastro.filtro.publicoAlvoComprasInstitucionais">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoPessoaGrupoComunidadeVi">Comunidade</label>
        <div class="col-md-4">
          <select id="publicoAlvoPessoaGrupoComunidadeVi" name="publicoAlvoPessoaGrupoComunidadeVi" class="form-control" ng-model="cadastro.filtro.publicoAlvoPessoaGrupoComunidadeVi">
            <option value="">Ignorar</option>
            <option value="A">A</option>
            <option value="B">B</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoBeneficioSocial">Benefício Social</label>
        <div class="col-md-4">
          <select id="publicoAlvoBeneficioSocial" name="publicoAlvoBeneficioSocial" class="form-control" ng-model="cadastro.filtro.publicoAlvoBeneficioSocial">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoIncra">Incra</label>
        <div class="col-md-4">
          <select id="publicoAlvoIncra" name="publicoAlvoIncra" class="form-control" ng-model="cadastro.filtro.publicoAlvoIncra">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoAtepa">Atepa</label>
        <div class="col-md-4">
          <select id="publicoAlvoAtepa" name="publicoAlvoAtepa" class="form-control" ng-model="cadastro.filtro.publicoAlvoAtepa">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoBsm">BSM</label>
        <div class="col-md-4">
          <select id="publicoAlvoBsm" name="publicoAlvoBsm" class="form-control" ng-model="cadastro.filtro.publicoAlvoBsm">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoSustentabilidade">Sustentabilidade</label>
        <div class="col-md-4">
          <select id="publicoAlvoSustentabilidade" name="publicoAlvoSustentabilidade" class="form-control" ng-model="cadastro.filtro.publicoAlvoSustentabilidade">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoIpaAgricola">IPA Agrícola</label>
        <div class="col-md-4">
          <select id="publicoAlvoIpaAgricola" name="publicoAlvoIpaAgricola" class="form-control" ng-model="cadastro.filtro.publicoAlvoIpaAgricola">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoIpaAnimal">IPA Animal</label>
        <div class="col-md-4">
          <select id="publicoAlvoIpaAnimal" name="publicoAlvoIpaAnimal" class="form-control" ng-model="cadastro.filtro.publicoAlvoIpaAnimal">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoIpaNaoAgricola">IPA Não Agrícola</label>
        <div class="col-md-4">
          <select id="publicoAlvoIpaNaoAgricola" name="publicoAlvoIpaNaoAgricola" class="form-control" ng-model="cadastro.filtro.publicoAlvoIpaNaoAgricola">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoIpaFlores">IPA Flores</label>
        <div class="col-md-4">
          <select id="publicoAlvoIpaFlores" name="publicoAlvoIpaFlores" class="form-control" ng-model="cadastro.filtro.publicoAlvoIpaFlores">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="publicoAlvoOrganizacao">Organização</label>
        <div class="col-md-4">
          <select id="publicoAlvoOrganizacao" name="publicoAlvoOrganizacao" class="form-control" ng-model="cadastro.filtro.publicoAlvoOrganizacao">
            <option value="">Ignorar</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>

    </fieldset>

	</form>
</div>