<div class="panel-body"><center>Formulário</center>
	<form name="frm.formulario">
		<fieldset ng-enabled="navegador.estadoAtual() !== 'INCLUINDO' && navegador.estadoAtual() !== 'EDITANDO'">
			<input type="hidden" ng-model="cadastro.registro.id" />
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label">Foto</label>
						<div>
							<img src="images/foto.gif">
						</div>
					</div>
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="form-group col-md-3">
							<label class="control-label" for="tipoPessoa">Tipo de Pessoa</label>
							<div class="form-control">
								{{cadastro.registro.tipoPessoa === 'PF' ? 'Pessoa Física' : cadastro.registro.tipoPessoa === 'PJ' ? 'Pessoa Jurídica': ''}}
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">Nome Completo (sem abreviação)</label>
							<input class="form-control" type="text" ng-model="cadastro.registro.nome"/> 
						</div>
						<div class="form-group col-md-3">
							<label class="control-label">Apelido</label>
							<input class="form-control" type="text" /> 
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-3">
							<label class="control-label">Situação</label>
							<select class="form-control" /> 
						</div>
						<div class="form-group col-md-4">
							<label class="control-label">CPF</label>
							<input class="form-control" type="text" /> 
						</div>
					</div>
				</div>
			</div>
			<tabset>
				<tab ng-repeat="tab in tabs | filter: {'visivel': true}">
					<tab-heading>
						{{$index + 1}} {{tab.nome}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</tab-heading>
					<ng-include src="tab.include"/>
				</tab>
			</tabset>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="tipoPessoa">Observações</label>
						<textarea class="form-control" rows="4"></textarea>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group col-md-8">
						<label class="control-label" for="tipoPessoa">Resp. Inclusão</label>
						<input class="form-control" type="text" readonly="true" />
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="tipoPessoa">Dt. Inclusão</label>
						<input class="form-control" type="text" readonly="true" />
					</div>
					<div class="form-group col-md-8">
						<label class="control-label" for="tipoPessoa">Resp. Atualização</label>
						<input class="form-control" type="text" readonly="true" />
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="tipoPessoa">Dt. Atualização</label>
						<input class="form-control" type="text" readonly="true" />
					</div>
				</div>
			</div>

		</fieldset>
	</form>
</div>