<div class="row">
	<div class="form-group col-md-12">
		<label class="control-label">Unidade Organizacional</label>
		<select class="form-control" type="text" /> 
	</div>
</div>
<div class="row">
	<div class="form-group col-md-4">
		<label class="control-label">Categoria</label>
		<select class="form-control" type="text" /> 
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Geração</label>
		<select class="form-control" type="text" /> 
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Tradição</label>
		<select class="form-control" type="text" /> 
	</div>
</div>
<div class="row">
	<div class="form-group col-md-2">
		<label class="control-label">Qtd. ATER no ano</label>
		<input class="form-control" type="text" readonly="true" /> 
	</div>
	<div class="form-group col-md-2">
		<label class="control-label">IPA AG</label>
		<input class="form-control" type="text" readonly="true" /> 
	</div>
	<div class="form-group col-md-2">
		<label class="control-label">IPA AN</label>
		<input class="form-control" type="text" readonly="true" /> 
	</div>
	<div class="form-group col-md-2">
		<label class="control-label">IPA NA</label>
		<input class="form-control" type="text" readonly="true" /> 
	</div>
	<div class="form-group col-md-2">
		<label class="control-label">IPA FL</label>
		<input class="form-control" type="text" readonly="true" /> 
	</div>
</div>
<div class="row">
	<div class="form-group col-md-12">
		<label class="control-label">Propriedades Vinculadas</label>
		<textarea class="form-control" rows="3"></textarea>
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6">
		<label class="control-label">Carteira do Produtor</label>
		<div class="row">
			<div class="col-md-4">
				<label class="control-label">Número</label>
				<input class="form-control" type="text"/>
			</div>
			<div class="col-md-4">
				<label class="control-label">Primeira Habilitação</label>
				<input class="form-control" type="text"/>
			</div>
			<div class="col-md-4">
				<label class="control-label">Validade</label>
				<input class="form-control" type="text"/>
			</div>
		</div>
	</div>
	<div class="form-group col-md-6">
		<label class="control-label">DAP - Declaração de Aptidão ao PRONAF</label>
		<div class="row">
			<div class="col-md-3">
				<label class="control-label">Situação</label>
				<select class="form-control" type="text"/>
			</div>
			<div class="col-md-3">
				<label class="control-label">Registro</label>
				<input class="form-control" type="text"/>
			</div>
			<div class="col-md-3">
				<label class="control-label">Dt. Validade</label>
				<input class="form-control" type="text"/>
			</div>
			<div class="col-md-3">
				<label class="control-label">Observação</label>
				<input class="form-control" type="text"/>
			</div>
		</div>
	</div>
</div>
