<tabset>
	<tab>
		<tab-heading>
			Captação <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</tab-heading>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Captação</label>
				<ng-include src="'views/pessoa/sub-diagnostico-captacao.html'" ng-controller="PessoaDiagnosticoCaptacaoCtrl" />
			</div>
		</div>
	</tab>
	<tab>
		<tab-heading>
			Resultado <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</tab-heading>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Resultado</label>
				<ng-include src="'views/pessoa/sub-diagnostico-resultado.html'" ng-controller="PessoaDiagnosticoResultadoCtrl" />
			</div>
		</div>
	</tab>
</tabset>