<tabset>
	<tab>
		<tab-heading>
			Captação <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</tab-heading>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Captação</label>
				<textarea class="form-control" rows="3"></textarea>
			</div>
		</div>
	</tab>
	<tab>
		<tab-heading>
			Resultado <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</tab-heading>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Resultado</label>
				<textarea class="form-control" rows="3"></textarea>
			</div>
		</div>
	</tab>
</tabset>



