<div class="row">
	<div class="form-group col-md-12">
		<label class="control-label">Lotação</label>
		<ng-include src="'views/pessoa/sub-colaborador-lotacao.html'" ng-controller="PessoaColaboradorLotacaoCtrl" />
	</div>
</div>
<div class="row">
	<div class="form-group col-md-12">
		<label class="control-label">Formação Profissional</label>
		<ng-include src="'views/pessoa/sub-colaborador-formacao-profissional.html'" ng-controller="PessoaColaboradorFormacaoProfissionalCtrl" />
	</div>
</div>
