<div>
	<h4>Cadastro Modelo</h4>
	<div class="panel panel-default">
		<div class="panel-heading container-fluid">
			<small>{{navegador.estadoAtual().toLowerCase()}}</small>
			<small ng-show="navegador.selecao.tipo === 'M'">selecionado(s) {{navegador.selecao.marcado}}/{{cadastro.lista.length}}</small>
			<frz-navegador ng-model="navegador" exibe-texto-botao="false" 
			dados="cadastro.lista"
			acoes-especiais="acoesEspeciais"
			on-abrir = "abrir()"
			on-agir = "agir()"
			on-cancelar-editar = "cancelarEditar()"
			on-cancelar-excluir = "cancelarExcluir()"
			on-cancelar-incluir = "cancelarIncluir()"
			on-cancelar-filtrar = "cancelarListar()"
			on-confirmar-editar = "confirmarEditar()"
			on-confirmar-excluir = "confirmarExcluir()"
			on-confirmar-incluir = "confirmarIncluir()"
			on-confirmar-filtrar = "confirmarFiltrar()"
			on-editar = "editar()"
			on-excluir = "excluir()"
			on-filtrar = "filtrar()"
			on-incluir = "incluir()"
			on-limpar = "limpar()"
			on-listar = "listar()"
			on-navegar-primeiro = "navegarPrimeiro()"
			on-navegar-anterior = "navegarAnterior()"
			on-navegar-proximo = "navegarPosterior()"
			on-navegar-ultimo = "navegarUltimo()"
			on-restaurar = "restaurar()"
			on-visualizar = "visualizar()"
			on-voltar = "voltar()"
			on-proxima-pagina="proximaPagina()"
			on-ultima-pagina="ultimaPagina()"
			></frz-navegador>
		</div>
		<div ui-view>
		</div>
	</div>
</div>