<div class="modal-header">
	<h3 class="modal-title">Cadastro Modelo</h3>
</div>
<div class="modal-body">
	<div>
		<h4>{{modalEstado}}</h4>
		<frz-navegador ng-model="navegador" exibe-texto-botao="false" 
			dados="cadastro.lista"
			acoes-especiais="acoesEspeciais"
			on-abrir = "abrir()"
			on-agir = "agir()"
			on-cancelar-editar = "cancelarEditar()"
			on-cancelar-excluir = "cancelarExcluir()"
			on-cancelar-incluir = "cancelarIncluir()"
			on-cancelar-filtrar = "cancelarListar()"
			on-confirmar-editar = "confirmarEditar()"
			on-confirmar-excluir = "confirmarExcluir()"
			on-confirmar-incluir = "confirmarIncluir()"
			on-confirmar-filtrar = "confirmarFiltrar()"
			on-editar = "editar()"
			on-excluir = "excluir()"
			on-filtrar = "filtrar()"
			on-incluir = "incluir()"
			on-limpar = "limpar()"
			on-listar = "listar()"
			on-navegar-primeiro = "navegarPrimeiro()"
			on-navegar-anterior = "navegarAnterior()"
			on-navegar-proximo = "navegarPosterior()"
			on-navegar-ultimo = "navegarUltimo()"
			on-restaurar = "restaurar()"
			on-visualizar = "visualizar()"
			on-voltar = "voltar()"
			on-proxima-pagina="proximaPagina()"
			on-ultima-pagina="ultimaPagina()"
			></frz-navegador>
		<div>
			<ng-include src="'views/_modelo-cadastro/filtro.html'" ng-show="modalEstado === 'filtrando'"></ng-include>
			<ng-include src="'views/_modelo-cadastro/lista.html'" ng-show="modalEstado === 'listando'"></ng-include>
			<ng-include src="'views/_modelo-cadastro/formulario.html'" ng-show="modalEstado === 'cadastrando'"></ng-include>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" id="ok" name="ok" class="btn btn-primary" accesskey="O" title="Executar a ação deste formulário" ng-click="submitForm()"><u>O</u>K</button>
	<button type="button" id="cancelar" name="cancelar" class="btn btn-danger" accesskey="C" title="Cancelar a ação deste formulário" ng-click="cancelar()"><u>C</u>ancelar</button>
</div>

