<div>
	<h4>Cadastro Modelo</h4>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		[Estado {{cadastro.estadoAtual}}]
		<div class="panel-heading">
			<!-- [{{cadastro}}] -->
			<frz-navegador ng-model="cadastro" exibe-texto-botao="false" 
				on-abrir = "abrir()"
				on-agir = "agir()"
				on-cancelar-editar = "cancelarEditar()"
				on-cancelar-excluir = "cancelarExcluir()"
				on-cancelar-incluir = "cancelarIncluir()"
				on-cancelar-filtrar = "cancelarListar()"
				on-confirmar-editar = "confirmarEditar()"
				on-confirmar-excluir = "confirmarExcluir()"
				on-confirmar-incluir = "confirmarIncluir()"
				on-confirmar-filtrar = "confirmarListar()"
				on-editar = "editar()"
				on-excluir = "excluir()"
				on-filtrar = "filtrar()"
				on-incluir = "incluir()"
				on-limpar = "limpar()"
				on-listar = "listar()"
				on-navegar-primeiro = "navegarPrimeiro()"
				on-navegar-anterior = "navegarAnterior()"
				on-navegar-proximo = "navegarPosterior()"
				on-navegar-ultimo = "navegarUltimo()"
				on-restaurar = "restaurar()"
				on-visualizar = "visualizar()"
				on-voltar = "voltar()"
				></navegador>
		</div>
		<div ui-view>
		</div>
	</div>
</div>