<div class="panel-body">Filtro <a href="" ng-click="popup();">Popup</a>

	<form name="frm.filtro">
		<fieldset>
      <div class="form-group">
        <div class="col-md-4">
          <label class="form-label">Documento</label>
    			<input class="form-control" ng-model="cadastro.filtro.codigo" ui-cpf-mask model-view-value="true">
        </div>
        <div class="col-md-4">
          <label class="form-label">Nome</label>
          <input class="form-control" ng-model="cadastro.filtro.nome">
        </div>
        <div class="col-md-4">
          <label class="form-label">Dia</label>
          <input class="form-control" type="text" name="dt" ng-model="cadastro.filtro.dia" ui-mask="99/99/9999" model-view-value="true">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <label class="form-label">Dia</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="DD/MM/AAAA" id="data"
             ng-model="fromDate"
             bs-datepicker
             data-autoclose="true">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open('#data')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <label class="form-label">Hora</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="HH:MM" id="hora"
             ng-model="fromTime"
             bs-timepicker
             data-arrow-behavior="picker"
             data-autoclose="true">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open('#hora')">
                <i class="glyphicon glyphicon-time"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
	</form>
</div>