<div class="panel-body">Lista</div>

<!-- Table -->
<div class="table-responsive">
	<table class="table table-hover table-striped table-responsive">
		<tr>
			<td>
				<frz-seletor ng-model="navegador" dados="cadastro.lista"></frz-seletor>
			</td>
			<td width="30">
				#
			</td>
			<td>
				Nome
			</td>
			<td>
				Documento
			</td>
		</tr>
		<tr ng-repeat="item in cadastro.lista | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: navegador.tamanhoPagina">
			<td>
				<input type="radio" ng-model="navegador.selecao.item" ng-value="item" ng-show="navegador.selecao.tipo === 'U'" name="selecionado"/>
				<input type="checkbox" ng-model="navegador.selecao.items[$index]" ng-show="navegador.selecao.tipo === 'M'" ng-click = "navegador.selecao.item = navegador.selecao.items[$index] ? item : navegador.selecao.item" ng-true-value="{{item}}" ng-false-value="null"/>
			</td>
			<td>
				{{$index + 1 + ((navegador.paginaAtual-1)*navegador.tamanhoPagina)}}
			</td>
			<td>
				{{item.nome}}
			</td>
			<td>
				{{item.documento}}
			</td>
		</tr>
	</table>
</div>

<div class="container-fluid" ng-show="navegador.selecao.tipo === 'U' && navegador.selecao.item && navegador.selecao.item.filhos && navegador.selecao.item.filhos.length">
	<frz-navegador ng-model="subNavegador" exibe-texto-botao="false"
	on-abrir="abrirSub()" dados="navegador.selecao.item.filhos"></frz-navegador>

	<table class="table table-hover table-striped table-responsive">
		<tr>
			<td><frz-seletor ng-model="subNavegador" dados="navegador.selecao.item.filhos"></frz-seletor></td>
			<td>#</td>
			<td>ID</td>
			<td>Nome</td>
		</tr>
		<tr ng-repeat="item in navegador.selecao.item.filhos | pagina: subNavegador.paginaAtual : subNavegador.tamanhoPagina | limitTo: subNavegador.tamanhoPagina">
			<td>
				<input type="radio" ng-model="subNavegador.selecao.item" ng-value="item" ng-show="subNavegador.selecao.tipo === 'U'" name="selecionadoSub"/>
				<input type="checkbox" ng-model="subNavegador.selecao.items[$index]" ng-show="subNavegador.selecao.tipo === 'M'" ng-click = "subNavegador.selecao.item = subNavegador.selecao.items[$index] ? item : subNavegador.selecao.item" ng-true-value="{{item}}" ng-false-value="null"/>
			</td>
			<td>
				{{$index + 1 + ((subNavegador.paginaAtual-1)*subNavegador.tamanhoPagina)}}
			</td>
			<td>
				{{item.id}}
			</td>
			<td>
				{{item.nome}}
			</td>
		</tr>
	</table>
</div>