Lista
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Cadastro de </div>
[{{selecao.items}}] [{{selecao.item}}]
	<!-- Table -->
	<form>
		<table ng-table="tableParams" template-pagination="custom/pager" class="table">
			<tr ng-repeat="item in $data">
				<td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
					<input type="radio" ng-model="selecao.item" name="selecionado" ng-value="item" />
					<input type="checkbox" ng-model="selecao.items[item.id]" ng-click = "selecao.item = selecao.items[item.id] ? item : selecao.item" ng-true-value="{{item}}" ng-false-value="null"/>
					[{{item}}]
				</td>
				<td data-title="'Nome'">
					{{item.nome}}
				</td>
				<td data-title="'Documento'">
					{{item.documento}}
				</td>
			</tr>
		</table>
	</form>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
	<input type="checkbox" ng-model="selecao.checked" id="select_all" name="filter-checkbox" value="" />
</script>

<script type="text/ng-template" id="custom/pager">
	<ul class="pager ng-cloak">
		<li ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}" ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Anterior</a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Próximo &raquo;</a>
		</li>
		<li> 
			<div class="btn-group">
				<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
				<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
				<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
				<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
			</div>
		</li>
	</ul>
</script>