<div class="panel panel-default">
    <div class="panel-heading container-fluid">
      <frz-navegador
        ng-model="pessoaRelacionamentoNvg" exibe-texto-botao="false" 
        dados="cadastro.registro.telefone"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir('lg')"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="table-responsible">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><frz-seletor ng-model="pessoaRelacionamentoNvg" dados="cadastro.registro.telefone"></frz-seletor></th>
            <th>#</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tel in cadastro.registro.telefone">
            <td>
              <input type="radio" ng-show="pessoaRelacionamentoNvg.selecao.tipo === 'U'" ng-model="pessoaRelacionamentoNvg.selecao.item" ng-value="tel"/>
              <input type="checkbox" ng-show="pessoaRelacionamentoNvg.selecao.tipo === 'M'" checklist-model="pessoaRelacionamentoNvg.selecao.items" checklist-value="tel"/>
            </td>
            <td>
              {{$index + 1 + ((pessoaRelacionamentoNvg.paginaAtual-1) * pessoaRelacionamentoNvg.tamanhoPagina)}}
            </td>
            <td>{{tel}}</td>
          </tr>
        </tbody>
        <tfoot>
            //{{cadastro.registro}}/
        </tfoot>
      </table>
    </div>
    <div class="panel-footer">
      
    </div>
    <script type="text/ng-template" id="pessoaRelacionamentoFrm.html">
        <div class="modal-header">
            <h3 class="modal-title">Pessoa Relacionamento</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-4">
              <label class="form-label">Numero</label>
              <input class="form-control" ng-model="cadastro.filtro.numero">
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
        </div>
    </script>
</div>