<div class="caixa-login de-vidro margem-superior centralizado">
	<p class="text-center">
		<img src="/images/logo-transparente-pequeno.png"/>
	</p>
	<form class="form-horizontal" novalidate name="$parent.loginForm" ng-submit="submitForm()">
		<fieldset style="margin: 15px;">

			<!-- Form Name -->
			<legend>Login</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-xs-4 control-label" for="usuario" title="Nome do Usuário do Sistema" accesskey="U"><u>U</u>suário *</label>  
				<div class="col-xs-6">
					<input id="usuario" name="usuario" type="text" placeholder="Nome do Usuário" class="form-control input-md" autofocus ng-model="registro.usuario" required="true">
					<div ng-show="($parent.loginForm.usuario.$dirty || submitted) && $parent.loginForm.usuario.$invalid">
						<div class="label label-danger" ng-show="$parent.loginForm.usuario.$error.required">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Campo Obrigatório
						</div>
					</div>
				</div>
			</div>

			<!-- Password input-->
			<div class="form-group">
				<label class="col-xs-4 control-label" for="senha" title="Senha de Acesso ao Sistema" accesskey="S"><u>S</u>enha *</label>
				<div class="col-xs-6">
					<input id="senha" name="senha" type="password" placeholder="Senha de Acesso" class="form-control input-md" ng-model="registro.senha" required="true">
					<div ng-show="($parent.loginForm.senha.$dirty || submitted) && $parent.loginForm.senha.$invalid">
						<div class="label label-danger" ng-show="$parent.loginForm.senha.$error.required">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Campo Obrigatório
						</div>
					</div>
				</div>
			</div>

			<!-- Select Basic -->
			<div class="form-group">
				<label class="col-xs-4 control-label" for="modulo" title="Módulo do Sistema" accesskey="M"><u>M</u>ódulo *</label>
				<div class="col-xs-6">
					<select id="modulo" name="modulo" class="form-control" required="true" ng-model="registro.modulo">
						<option value="1">Principal</option>
					</select>
					<div ng-show="($parent.loginForm.modulo.$dirty || submitted) && $parent.loginForm.modulo.$invalid">
						<div class="label label-danger" ng-show="$parent.loginForm.modulo.$error.required">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Campo Obrigatório
						</div>
					</div>
				</div>
			</div>

			<!-- Multiple Checkboxes (inline) -->
			<div class="form-group">
				<label class="col-xs-4 control-label" for="administrador" accesskey="A"></label>
				<div class="col-xs-6">
					<label class="checkbox-inline" for="administrador" title="Solicitar Perfil de Administrador do Sistema">
						<input type="checkbox" name="administrador" id="administrador" ng-true-value="'S'" ng-false-value="'N'" ng-model="registro.administrador">
						<u>A</u>dministrador
					</label>
				</div>
			</div>

			<!-- Button (Double) -->
			<div class="form-group">
				<label class="col-xs-4 control-label" for="ok"></label>
				<div class="col-xs-8">
					<button type="submit" id="ok" name="ok" class="btn btn-primary" accesskey="O" title="Executar a ação deste formulário"><u>O</u>K</button>
					<button type="button" id="reiniciar" name="reiniciar" class="btn btn-warning" ng-click="reiniciar();" accesskey="R" title="Reiniciar os dados deste formulário"><u>R</u>einiciar</button>
					<button type="button" id="cancelar" name="cancelar" class="btn btn-danger" accesskey="C" title="Cancelar a ação deste formulário"><u>C</u>ancelar</button>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-4 control-label" for="esqueciMinhaSenha"></label>
				<div class="col-xs-8">
					<a id="esqueciMinhaSenha" href="" ng-click="esqueciMinhaSenha();" accesskey="E" title="Recuperar o seu acesso ao sistema"><u>E</u>squeci Minha Senha</a>
				</div>
			</div>

		</fieldset>
	</form>
</div>